.connexion,
.inscription {
    margin: 100px 50px 80px 50px;
    min-height: 100%;
}

.connexion .container,
.inscription .container {
    position: relative;
    height: 350px;
    width: 600px;
    margin: 100px 45px 0px 45px;
    padding: 50px 30px;
    border: 2px solid #0084ff;
}

.connexion h1,
.inscription h1 {
    margin-bottom: 20px;
}

.connexion form div,
.inscription .container {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.inscription .container * {
    margin: 5px 0;
}

.connexion form div label,
.inscription .container label {
    font-size: 1.1em;
    margin-bottom: 5px;
    font-weight: 500;
}

.connexion form div input,
.inscription .container input {
    padding: 3px 3px;
    border-radius: 3px;
    outline: 0;
}

.connexion form div input:focus {
    box-shadow: 0 0 5px 2px gold;
    outline: 0;
}

.connexion form div:nth-child(3) {
    display: inline-block;
}

#registration_form_agreeTerms {
    margin-left: 15px;
}

.btn-style {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em;
    width: min-content;
    border: 2px solid transparent;
}

.btn-style:hover {
    color: gold;
    border: 2px solid gold;
}