

.home {
    text-align: center;
}

.home h1 {
    font-size: 5vw;
}

.home h5 {
    font-size: 2.5vw;
    font-style: italic;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.images {
    transform-style: preserve-3d;
}

.images img {
    height: 406px;
    width: 406px;
    border: 3px solid gold;
    box-shadow: 2px 2px 5px black;
    position: absolute;
    right: calc( 50% - 203px);
    backface-visibility: hidden;
    transition: 1s;
}

.images img:nth-child(2) {
    transform: rotateY(180deg);
}

.images:hover img:nth-child(2) {
    transform: rotateY(0deg);
}

.images:hover img:nth-child(1) {
    transform: rotateY(-180deg);
}

@media screen and (max-width:730px) {
    .images img {
        height: 306px;
        width: 306px;
        right: calc( 50% - 153px);
    }
}