/* import de la police*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    /*Pour les déplacements de liens en liens*/
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(0, 169, 255);
    background: linear-gradient(90deg, rgba(0, 169, 255, 1) 35%, rgba(255, 238, 121, 1) 87%);
    box-shadow: 1px 2px 10px gold;
    z-index: 1000;
}

.logo {
    height: 60px;
    line-height: 60px;
    color: silver;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    padding-left: 20px;
}

#toggle {
    top: 0;
    right: 0;
    position: absolute;
    width: 60px;
    height: 60px;
    background: gold;
    cursor: pointer;
    /* alignement des barres à l'intérieur */
    display: flex;
    justify-content: center;
    align-items: center;
}

#toggle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #111;
    transform: translateY(-5px);
    transition: 0.2s;
}

#toggle::after {
    content: '';
    position: absolute;
    width: 28px;
    height: 2px;
    background: #111;
    transform: translateY(5px);
    transition: 0.2s;
}

#toggle.active::before {
    transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
    transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
    background: rgb(0, 100, 0);
}

#navbar {
    position: relative;
    height: 60px;
    right: 60px;
    background: rgba(75, 247, 7, 0.2);
    transition: 0.75s;
    width: 0px;
    overflow: hidden;
}

#navbar.active {
    width: 660px;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    padding: 0px 15px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #12334e;
    display: inline-block;
    transition: all 0.2s;
}

#navbar ul li a:hover {
    color: #fff;
    background: rgb(0, 68, 0);
    transition: all 0.2s;
}


/*responsive */

@media all and (max-width:991px) {
    #navbar {
        position: fixed;
        bottom: -100%;
        right: 0;
        width: 100%;
        transition: 0.5s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #navbar.active {
        height: calc(100vh - 60px);
        bottom: 0;
        width: 100%;
        background: rgba(255, 250, 250, 0.8);
    }
    #navbar ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #navbar ul li a:hover {
        border-radius: 5px;
    }
}