{% extends 'base.html.twig' %}
{% block body %}
<div class="home">
    <h1 id="title">Voyages Voyages ...</h1>
    <br>
    <br>
    <h5 id="slogan">Vous partirez plus loin que vous ne l'auriez cru</h5>

    <div class="container">
        <div class="images">
            <img id="mars" src="img/mars.jpeg" alt='' ; />

            <img id="lune" src="img/lune.jpg" alt='' ; />
        </div>
    </div>

</div>

{% endblock %}
